[submodule "vendor/thorstadt-haml-mode"]
	path = vendor/thorstadt-haml-mode
	url = https://github.com/thorstadt/haml-mode
[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/yasnippets-rspec"]
	path = vendor/yasnippets-rspec
	url = git://github.com/rawsyntax/yasnippets-rspec.git
[submodule "vendor/yasnippets-rails"]
	path = vendor/yasnippets-rails
	url = git://github.com/rawsyntax/yasnippets-rails.git
[submodule "vendor/deft"]
	path = vendor/deft
	url = git://jblevins.org/git/deft.git
[submodule "vendor/ag-and-a-half"]
	path = vendor/ag-and-a-half
	url = git@github.com:rawsyntax/ag-and-a-half.git
